/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos para o cabeçalho */
header {
    background-color: #df3f3f;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header .logo h1 {
    font-size: 24px;
    color: white;
    background-color:#df3f3f;
    font-family: Arial, Helvetica, sans-serif;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

a {
    color: rgb(255, 255, 255);
    background-color: #df3f3f;
}
/* Estilos para a seção do banner */
.banner {
    background-image: url("./img/gui.imagem.svd.webp");
    background-size: cover;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    padding: 20px;
}

.banner h2 {
    font-size: 36px;
    margin-bottom: 10px;
}

.banner p {
    font-size: 18px;
    margin-bottom: 20px;
}

.banner .btn {
    background-color: #ff5500;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.banner .btn:hover {
    background-color: #ff7f33;
}

/* Estilos para a seção de animes em destaque */
.featured-anime {
    padding: 40px 20px;
}

.featured-anime h2 {
    text-align: center;
    margin-bottom: 20px;
}

/* Estilos para o rodapé */
footer {
     color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 20px;
    height: 150px;
}
img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid green ;
}
.center {
    text-align: center;
}

header {
font-size: 24px;
color: white;
background-color:#df3f3f;
font-family: Arial, Helvetica, sans-serif;
}